@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
}

.app-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.navbar {
    background-color: #1e1c50;
    color: #ffffff;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 24px;
    color: #ffffff;
}

.welcome-message {
    color: white;
}

.logout-form {
    margin: 0;
}

.logout-button {
    background-color: #ff5945;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

.logout-button:hover {
    filter: brightness(0.8);
}

.content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 80px;
    width: 100%;
}

.main-content {
    background: #1e1c50; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 540px;
    padding: 40px 30px 70px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.username {
    text-decoration: underline;
}

.error-message {
    color: #e74c3c;
    margin-bottom: 15px;
    text-align: center;
}

.task-form {
    justify-content: space-between;
    margin-bottom: -40px;
}

.task-input-div {
    display: flex;
}

.task-input {
    flex-grow: 1;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-right: 10px;
    font-size: 17px;
    outline: none;
}

.add-button {
    background-color: #ff5945;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 12px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.add-button:hover {
    filter: brightness(0.8);
}

#deadline {
    width: 100%;
    padding: 12px 20px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-top: 10px;
    background-color: #f7f9fa;
    color: #333;
    outline: none;
    transition: box-shadow 0.3s ease;
    margin-bottom: 53px;
}

#deadline:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-color: #1e1c50;
}

.datetime-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.white-line {
    height: 2px;
    background-color: white;
    width: 100%;
    opacity: 1;
    margin-top: -15px;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f9fa;
    margin-bottom: 20px;
    padding: 12px 8px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}

.task-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.task-div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.task-text {
    font-size: 18px;
    color: #333;
    position: static;
    margin: 0;
}

.deadline-label {
    font-size: 10px;
}

.task-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.task-checkbox:checked + .task-text {
    text-decoration: line-through;
    color: green;
}

.calendar-icon {
    cursor: pointer;
}

.delete-button {
    background-color: #ff5945;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    filter: brightness(0.8);
}

@media screen and (max-width: 768px) {
    .task-form, .task-input-div {
        flex-direction: column;
        align-items: stretch;
    }

    .task-input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #deadline {
        position: relative;
        top: -55px;
    }

    .add-button {
        position: relative;
        top: 55px;
    }
}
